<div id="side-menu">
    <ul>
        <li>
            <%= link_to edit_article_path(@article) do %>
                <div id="x-btn-wrapper">
                    <div id="x-btn">
                        <i class="fa-brands fa-x-twitter"></i>
                    </div>
                </div>
            <% end%>
        </li>
        <li>
            <%= link_to edit_article_path(@article) do %>
                <div id="home-btn-wrapper">
                    <div id="home-btn">
                        <i class="fa-regular fa-house"></i>
                    </div>
                </div>
            <% end%>
        </li>
        <li>
            <%= link_to edit_article_path(@article) do %>
                <div id="explore-btn-wrapper">
                    <div id="explore-btn">
                        <i class="fa-regular fa-magnifying-glass"></i>
                    </div>
                </div>
            <% end%>
        </li>
        <li>
            <%= link_to edit_article_path(@article) do %>
                <div id="noti-btn-wrapper">
                    <div id="noti-btn">
                        <i class="fa-regular fa-bell"></i>
                    </div>
                </div>
            <% end%>
        </li>
        <li>
            <%= link_to edit_article_path(@article) do %>
                <div id="msgs-btn-wrapper">
                    <div id="msgs-btn">
                        <i class="fa-regular fa-envelope"></i>
                    </div>
                </div>
            <% end%>
        </li>
        <li>
            <%= link_to edit_article_path(@article) do %>
            <div id="grok-btn-wrapper">
                <div id="grok-btn" style="height:1.5rem; width:1.5rem; border:4px solid black; border-radius:0%;">
                    <span><b> / </b></span>
                </div>
            </div>
            <% end%>
        </li>
        <li>
            <%= link_to edit_article_path(@article) do %>
                <div id="lists-btn-wrapper">
                    <div id="lists-btn">
                        <i class="fa-regular fa-file-lines"></i>
                    </div>
                </div>
            <% end%>
        </li>
        <li>
            <%= link_to edit_article_path(@article) do %>
            <div id="communities-btn-wrapper">
                <div id="communities-btn">
                    <i class="fa-light fa-user-group"></i>
                </div>
            </div>
            <% end%>
        </li>
        <li>
            <%= link_to edit_article_path(@article) do %>
                <div id="premium-btn-wrapper">
                    <div id="premium-btn">
                        <i class="fa-brands fa-x-twitter"></i>
                    </div>
                </div>
            <% end%>
        </li>
        <li>
            <%= link_to edit_article_path(@article) do %>
            <div id="profile-btn-wrapper">
                <div id="profile-btn">
                </div>
            </div>
            <% end%>
        </li>
        <li>
            <%= link_to edit_article_path(@article) do %>
                <div id="more-btn-wrapper">
                    <div id="more-btn">
                    </div>
                </div>
            <% end%>
        </li>
        <li>
            <%= link_to edit_article_path(@article) do %>
            <div id="post-btn-wrapper">
                <div id="post-btn">
                </div>
            </div>
            <% end%>
        </li>

    </ul>
</div>